.nosotrxs {
    background-image:url(./S2-B-1600x900.svg);
    background-repeat: no-repeat ;
    background-color: var(--color-primario-B);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.nosotrxs-indice {
    width: 80%;
    max-width: 1200px;
    display: flex;
}

.nosotrxs-indice h2 {
    font-size: 2rem;
    font-family: var(--tipografia-principal);
    padding-top: .4rem;
}

.nosotrxs-indice-semiCirculo {
    width: 20%;
    height: 6rem;
    background-color: var(--color-primario-A);
    clip-path: circle(50% at 50% 0);
    text-align: center;
    align-self:flex-start
}
.nosotrxs-tarjeta {
    width: 80%;
    max-width: 1200px;
    border-radius: .75rem;
    display: flex;
    text-align:center;
    align-self: center;
    justify-content: space-evenly;
    gap: 1.8rem;
}

.nosotrxs-tarjeta-der, .nosotrxs-tarjeta-izq {
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    resize: none;
    overflow: auto;
}

.nosotrxs-tarjeta-izq {
    width: 50%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0,0,0,0.9) ), url(./D-nosotrxs-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /* margin-bottom: 3rem; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    align-items: center;
    
}
.nosotrxs-tarjeta-izq p {
    width: 100%;
    font-family: var(--tipografia-secundaria);
    font-size: 1.5rem;
    color: var(--color-neutro-lightness);
    text-justify:distribute-all-lines;
    line-height: 1.5;
    text-align:justify;
    
}

.nosotrxs-tarjeta-der {
    width: 50%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0,0,0,0.9) ), url(./D-nosotrxs-2.jpg);
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
    /* align-self: flex-end; */
    margin-top: 2.5rem;
    align-items: center;
    
}

.nosotrxs-tarjeta-der p {
    width: 100%;
    font-family: var(--tipografia-secundaria);
    font-size: 1.3rem;
    color: var(--color-neutro-lightness);
    text-justify:distribute-all-lines;
    line-height: 1.5;
    text-align:justify;

}

/*  Media queries - Responsive  */

/*----------------- Medium devices -------------------------*/

@media only screen and (max-width:1100px) {

    .nosotrxs-tarjeta-izq p {
        font-size: 1.2rem;
        line-height: 1.3;    
    }
    .nosotrxs-tarjeta-der p {
        font-size: 1rem;
        line-height: 1.4;    
    }

}

@media only screen and (min-width: 768px ) and (max-width: 991px) {
 
    .nosotrxs-indice h2 {
        font-size: 2rem;
        padding-top: .5rem;
    }
    
    .nosotrxs-indice-semiCirculo {
        width: 25%;
    }

    .nosotrxs-tarjeta {
        width: 80%;
        height: 80vh;
        border-radius: .75rem;
        display: flex;
        flex-direction: column;
        text-align:center;
        align-self: center;
        justify-content: center;
        gap: .5rem;
       
    }

    .nosotrxs-tarjeta-izq, .nosotrxs-tarjeta-der {
        width: 100%;
        height: 50vh;
        align-items: center;
        margin: .5rem 0;
        padding: 1.7rem;
    }

    .nosotrxs-tarjeta-izq p {
        width: 100%;
        font-size: 1.5rem;
    }

    .nosotrxs-tarjeta-der p {
        width: 100%;
        font-size: 1.3rem;
    }

}

/*----------------- Small devices -------------------------*/


@media only screen and (max-width: 767px) {
   
    .nosotrxs-indice h2 {
        font-size: 1.8rem;
        padding-top: .5rem;
    }
    
    .nosotrxs-indice-semiCirculo {
        width: 30%;
    }

    .nosotrxs-tarjeta {
        width: 80%;
        height: 80vh;
        border-radius: .75rem;
        display: flex;
        flex-direction: column;
        text-align:center;
        align-self: center;
        justify-content: center;
        gap: .5rem;
       
    }

    .nosotrxs-tarjeta-izq, .nosotrxs-tarjeta-der {
        width: 100%;
        height: 50vh;
        align-items: center;
        margin: .5rem 0;
        padding: 1.7rem;
    }

    .nosotrxs-tarjeta-izq p {
        width: 100%;
        font-size: 1.2rem;
    }

    .nosotrxs-tarjeta-der p {
        width: 100%;
        font-size: 1rem;
    }

}

/*----------------- X-M  Small devices -------------------------*/

@media only screen and (max-width: 576px) {

    .nosotrxs-indice h2 {
        font-size: 1.4rem;
        padding-top: .3rem;
    }
    
    .nosotrxs-indice-semiCirculo {
        width: 35%;
    }

    .nosotrxs-tarjeta-izq p {
        width: 100%;
        font-size: .9rem;
    }

    .nosotrxs-tarjeta-der p {
        width: 100%;
        font-size: .7rem;
    }

}

/*----------------- X Small devices -------------------------*/

@media only screen and (max-width: 380px) {

    .nosotrxs-indice {
        width: 90%;
        height: 10vh;
    }

    .nosotrxs-tarjeta {
        width: 90%;     
        gap: 0rem;
        height: 88vh;
    }

    .nosotrxs-tarjeta-izq, .nosotrxs-tarjeta-der {
        overflow-y: scroll;
        scroll-snap-type: y;
    }
    .nosotrxs-tarjeta-izq p{
        font-size: .7rem;  
    } 
    
    .nosotrxs-tarjeta-der p {
        font-size: .6rem;
        justify-self: center;
    }

}
