.footer {
    width: 100%;
    height: 15vh;
    background-color: rgba(0,4,17,.6);
    font-family: var(--tipografia-principal);
    color: #f5f5f5;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 1.5rem;
}

.footer-logo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer-logo hr {
    background-color: #f5f5f5;
    width: 20rem;
    height: .2rem;
    border: .1rem solid #f5f5f5;
}

.footer-logo h3 {
    font-size: 2.25rem;
}

.footer-autoria {
    
}

.footer-autoria h3 {
    font-size: 1rem;
}

/*---------------  Media queries - Responsive ------------------ */

/*----------------- Large devices -------------------------------*/

@media only screen and (max-width: 1100px) {
    .footer-logos {
        padding-top: .6rem;
    }
}

@media only screen and (min-width: 576px ) and (max-width: 767px) {
    .footer-logos {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 575px) {
    .footer-logos {
        height: 12vh;
        padding-top: .75rem;
    }

    .footer-logo h3 {
        font-size: 2rem;
    }

    .footer-autoria h3 {
        font-size: 1rem;
    }
}