.contacto {
    background-image:url(./S6-B-1600x900.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-primario-B);
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contacto-indice {
    width: 80%;
    max-width: 1200px;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.contacto-indice-semiCirculo {
    width: 20%;
    height: 6rem;
    background-color: #a4554d;
    clip-path: circle(50% at 50% 0);
    text-align: center;
    align-self:center;
    color: var(--color-neutro-darkness);
    font-family: var(--tipografia-principal);
    
}

.contacto-indice-semiCirculo h2 {
    font-size: 3rem;
    margin-top: .5rem;
}

.contacto-tarjeta {
    width: 80%;
    max-width: 1200px;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contacto-tarjeta_A {
    width: 50%;
    background-color: rgba(158, 159, 163, .49);
    padding: 1rem;
    border-radius: 20px;
    
}

.tarjeta_A-form {
    display: flex;
    flex-direction: column;
    
}

.tarjeta_A-form label {
    font-family: var(--tipografia-principal);
    font-size: 1.5rem;
    color: var(--color-neutro-darkness);
    padding-left: .75rem;
}

.tarjeta_A-form input {
    border: 1px solid rgb(122, 122, 124);
    background-color: rgba(158, 159, 163, .49);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    font-family: var(--tipografia-secundaria);
    font-size: 1.25rem;
    padding-left: 1.25rem;
    outline: none;

}

.tarjeta_A-form textarea {
    background-color: rgba(158, 159, 163, .49);
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    padding: 1rem;
    border-radius: 20px;
    opacity: .9;
    outline: none;
    font-family: var(--tipografia-secundaria);
    font-size: 1.25rem;
    size-adjust: none;
    resize: none;
}

.tarjeta_A-form-bnt {
    width: 30%;
    margin: 0 auto;
    background-color: #a4554d;
    border: none;
    border-radius: 20px;
    margin-top: .75rem;
    font-family: var(--tipografia-principal);
    font-size: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    color: rgba(245, 245, 245, 0.932);
}

.contacto-tarjeta_B {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tarjeta_B-texto {
    background-color: rgba(158, 159, 163, .49);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tarjeta_B-texto h4 {
    font-family: var(--tipografia-principal);
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
}

.tarjeta_B-redes {
    width: 45%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tarjeta_B-redes a{
    margin-left: 1rem;
    color: rgba(111, 111, 111, 0.99);
    font-size: 2rem;
}

/*---------------  Media queries - Responsive ------------------ */

/*----------------- Large devices -------------------------------*/

@media only screen and (max-width: 1100px) {

    .contacto-indice {
        width: 80%;
        height: 18%;
    }
 
    .contacto-indice-semiCirculo h2 {
        font-size: 2.5rem;
        margin-top: .3rem;
    }

    .contacto-tarjeta {
        width: 80%;
        height: 60%;
    }

    .contacto-tarjeta_A {
        width: 50%;
        height: 100%;
        padding: 1rem;
    }

    .tarjeta_A-form textarea {
        height: 18vh;
        font-size: 1rem;
        
    }

}

/*----------------- Medium devices ------------------------------*/

@media only screen and (min-width: 768px ) and (max-width: 991px) {
    
    .contacto-indice {
        height: 15vh;
        margin-bottom: 0rem;
    }

    .contacto-indice-semiCirculo {
        width: 35%;
        height: 6rem;   
        margin-bottom: 0rem;     
    }
    
    .contacto-indice-semiCirculo h2 {
        font-size: 3rem;
        margin-top: .5rem;
    }
    
    .contacto-tarjeta {
        width: 80%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contacto-tarjeta_A {
        width: 80%;
        height: 45vh;
        padding: 1.5rem;   
        margin-bottom: 0rem;     
    }

    .tarjeta_A-form textarea {
        height: 20vh;
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
    }

    .contacto-tarjeta_B {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*----------------- Small devices -------------------------------*/

@media only screen and (min-width: 576px ) and (max-width: 767px) {

    .contacto-indice {
        height: 15vh;
        margin-bottom: 0rem;
    }

    .contacto-indice-semiCirculo {
        width: 40%;
        height: 6rem;   
        margin-bottom: 0rem;     
    }
    
    .contacto-indice-semiCirculo h2 {
        font-size: 2.2rem;
        margin-top: .5rem;
    }
    
    .contacto-tarjeta {
        width: 90%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contacto-tarjeta_A {
        width: 90%;
        height: 45vh;
        padding: 1.5rem;   
        margin-bottom: 0rem;     
    }

    .tarjeta_A-form textarea {
        height: 17vh;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .contacto-tarjeta_B {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

/*----------------- X Small devices -------------------------*/

@media only screen and (max-width: 575px) {

    .contacto-indice {
        height: 15vh;
        margin-bottom: 0rem;
    }

    .contacto-indice-semiCirculo {
        width: 40%;
        height: 6rem;   
        margin-bottom: 0rem;     
    }
    
    .contacto-indice-semiCirculo h2 {
        font-size: 2rem;
        margin-top: .3rem;
    }
    
    .contacto-tarjeta {
        width: 90%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .contacto-tarjeta_A {
        width: 90%;
        height: 45vh;
        padding: 1rem;   
        margin-bottom: 0rem;     
    }

    .tarjeta_A-form textarea {
        height: 13vh;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .contacto-tarjeta_B {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta_B-texto h4 {
        font-family: var(--tipografia-principal);
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }

}


@media only screen and (max-width: 360px) {

    .contacto {
        height: 120vh;
    }

    .contacto-indice-semiCirculo {
        width: 53%;
        height: 6rem;   
        margin-bottom: 0rem;     
    }
    
    .contacto-indice-semiCirculo h2 {
        font-size: 2rem;
        margin-top: .3rem;
    }

    .contacto-tarjeta {
        width: 95%;
        height: 100vh;
    }
    .contacto-tarjeta_A {
        height: 64vh;
    }
    .contacto-tarjeta_B {
        width: 100%;
        height: 25vh;
    }
    
    .tarjeta_B-texto h4 {
        font-size: 1.4rem;
        
    }
}