:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  --tipografia-principal: 'League gothic';
  --tipografia-secundaria: 'montserrat';
  --color-primario-A: #a53d31;
  --color-primario-B: #85bfc3;
  --color-primario-C: #f6b86f;
  --color-secundario-0: #fef5d7;
  --color-neutro-darkness: #000411;
  --color-neutro-inter: #5b5b5b;
  --color-neutro-lightness: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 992px ) and (max-width: 1200px) {
    
  

}