.sesiones {
    background-image:url(./S5-B-1600x900.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-primario-A);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.sesiones-indice {
    width: 80%;
    max-width: 1200px;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sesiones-indice-semiCirculo {
    width: 20%;
    height: 6rem;
    background-color: var(--color-primario-C);
    clip-path: circle(50% at 50% 0);
    text-align: center;
    align-self:flex-end;
    color: var(--color-neutro-darkness);
    font-family: var(--tipografia-principal);
}

.sesiones-indice-semiCirculo h2 {
    font-size: 2.5rem;
    margin-top: .6rem;
    font-family: var(--tipografia-principal);
}

.sesiones-tarjeta {
    width: 80%;
    max-width: 1200px;    
    height: 80vh;
    background-color: var(--color-primario-C);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.sesiones-tarjeta-titulo {
    font-family: var(--tipografia-principal);
    font-size: 3.5rem;
    color: var(--color-primario-A);
    margin-bottom: 1.5rem;
}

.sesiones-tarjeta-planes {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: relative;    
}

.sesiones-planes_izq, .sesiones-planes_der {
    width: 40%;
    height: 45vh;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    position: relative;   
}

.sesiones-planes_izq h4 {
    position: absolute;
    top: 3%;
    left: 25%;
    font-family: var(--tipografia-principal);
    color: var(--color-neutro-darkness);
    font-size: 4rem;
    text-align: center;

}

.sesiones-planes_izq h5 {
    position: absolute;
    top: 18%;
    left: 35%;
    font-family: var(--tipografia-principal);
    color: var(--color-neutro-darkness);
    font-size: 3rem;
    text-align: center;

}

.sesiones-planes_der h4 {
    position: absolute;
    top: 3%;
    left: 27%;
    font-family: var(--tipografia-principal);
    color: var(--color-neutro-darkness);
    font-size: 4rem;
    text-align: center;

}

.sesiones-planes_der h5 {
    position: absolute;
    top: 18%;
    left: 22%;
    font-family: var(--tipografia-principal);
    color: var(--color-neutro-darkness);
    font-size: 3rem;
    text-align: center;

}

.sesiones-planes_izq img, .sesiones-planes_der img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    opacity: .6;
}

.sesiones-planes-capa {
    position: absolute;
    top: 0;
    padding-top: 8rem;
    color: var(--color-neutro-lightness);
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.7);
    transition: all .2s linear;
    opacity: 0;
    visibility: hidden;
    
}

.sesiones-planes-capa p {
    font-size: 1.2em;
    text-align: center;
}

.sesiones-planes_izq:hover > .sesiones-planes-capa {
    opacity: 1;
    visibility: visible;
}

.sesiones-planes_der:hover > .sesiones-planes-capa {
    opacity: 1;
    visibility: visible;
}

.sesiones-tarjeta-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sesiones-tarjeta-texto_izq {
    align-self: flex-start;
    text-align: center;
    width: 55%;
    background-color: #98DBDF;
    border-radius: 0 2rem 2rem 0;
    padding: .5rem;
    font-family: var(--tipografia-secundaria);
    font-size: 1.2rem;
}

.sesiones-tarjeta-texto_der {
    font-family: var(--tipografia-secundaria);
    align-self: flex-end;
    text-align: center;
    width: 55%;
    background-color: #FEF5D7;
    border-radius: 2rem 0 0 2rem;
    padding: .5rem;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

/*---------------  Media queries - Responsive ------------------ */

/*----------------- Large devices -------------------------------*/

@media only screen and (max-width: 1100px) {

    .sesiones-indice-semiCirculo {
        width: 20%;
        height: 6rem;
    }
    
    .sesiones-indice-semiCirculo h2 {
        font-size: 2rem;
        margin-top: .6rem;
    }

    .sesiones-tarjeta-titulo {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
        
    .sesiones-planes_izq, .sesiones-planes_der {
        width: 40%;
        height: 40vh;         
    }

    .sesiones-planes_izq h4 {
        top: 3%;
        left: 33%;
        font-size: 2rem;
    }
    
    .sesiones-planes_izq h5 {
        top: 18%;
        left: 39%;
        font-size: 1.5rem;
    }

    .sesiones-planes_der h4 {
        top: 3%;
        left: 34%;
        font-size: 2rem;
    }
    
    .sesiones-planes_der h5 {
        top: 18%;
        left: 29%;
        font-size: 1.5rem;
    }

    .sesiones-planes-capa {
        padding-top: 5rem;       
    }
    
    .sesiones-planes-capa p {
        font-size: .8em;
    }

    .sesiones-tarjeta-texto_izq {
        width: 65%;
        padding: .5rem;
        font-size: 1rem;
    }
    
    .sesiones-tarjeta-texto_der {
        width: 50%;
        margin: .75rem 0;
        font-size: 1.2rem;
    }
    
}

/*----------------- Medium devices ------------------------------*/


@media only screen and (min-width: 768px ) and (max-width: 991px) {
 
    .sesiones-indice-semiCirculo {
        width: 30%;
        height: 6rem;
    }
    
    .sesiones-indice-semiCirculo h2 {
        font-size: 2rem;
        margin-top: .6rem;
    }

    .sesiones-tarjeta-titulo {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    
    .sesiones-tarjeta-planes {
        width: 90%;  
    }

    .sesiones-planes_izq, .sesiones-planes_der {
        width: 44%;
        height: 40vh;        
        gap: 1rem;
    }

    .sesiones-planes_izq h4 {
        top: 3%;
        left: 26%;
        font-size: 2.5rem;
    }
    
    .sesiones-planes_izq h5 {
        top: 13%;
        left: 32%;
        font-size: 2rem;
    }

    .sesiones-planes_der h4 {
        top: 3%;
        left: 26%;
        font-size: 2.5rem;
    }
    
    .sesiones-planes_der h5 {
        top: 13%;
        left: 18%;
        font-size: 2rem;
    }

    .sesiones-planes-capa {
        padding-top: 8rem;       
    }
    
    .sesiones-planes-capa p {
        font-size: 1.3em;
    }

    .sesiones-tarjeta-texto_izq {
        width: 70%;
        padding: .5rem;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    .sesiones-tarjeta-texto_der {
        width: 60%;
        margin: .75rem 0;
        font-size: 1.4rem;
    }
}

/*----------------- Small devices -------------------------------*/


@media only screen and (min-width: 576px ) and (max-width: 767px) {
   
    .sesiones-indice-semiCirculo {
        width: 30%;
        height: 6rem;
    }
    
    .sesiones-indice-semiCirculo h2 {
        font-size: 2rem;
        margin-top: .4rem;
    }

    .sesiones-tarjeta-titulo {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .sesiones-tarjeta-planes {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;    
        gap: 1.25rem;
    }

    .sesiones-planes_izq, .sesiones-planes_der {
        width: 95%;
        height: 25vh;
    }

    .sesiones-planes_izq h4 {
        top: 3%;
        left: 36%;
        font-size: 2rem;
    }
    
    .sesiones-planes_izq h5 {
        top: 18%;
        left: 40%;
        font-size: 1.5rem;
    }

    .sesiones-planes_der h4 {
        top: 3%;
        left: 36%;
        font-size: 2rem;
    }
    
    .sesiones-planes_der h5 {
        top: 18%;
        left: 33%;
        font-size: 1.5rem;
    }

    .sesiones-planes-capa {
        padding-top: 5.5rem;       
    }
    
    .sesiones-planes-capa p {
        font-size: 1rem;
    }

    .sesiones-tarjeta-texto_izq {
        width: 70%;
        padding: .5rem;
        font-size: 1rem;
        margin-bottom: .7rem;
    }
    
    .sesiones-tarjeta-texto_der {
        width: 60%;
        margin: .75rem 0;
        font-size: 1.1rem;
    }

}

/*----------------- X Small devices -------------------------*/


@media only screen and (max-width: 575px) {

    .sesiones-indice {
        width: 90%;
        height: 12vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .sesiones-tarjeta {
        width: 90%;
    }
   
    .sesiones-indice-semiCirculo {
        width: 35%;
        height: 6rem;
    }
    
    .sesiones-indice-semiCirculo h2 {
        font-size: 1.6rem;
        margin-top: .4rem;
    }

    .sesiones-tarjeta-titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .sesiones-tarjeta-planes {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;    
        gap: 1rem;
    }

    .sesiones-planes_izq, .sesiones-planes_der {
        width: 95%;
        height: 23vh;
    }

    .sesiones-planes-capa {
        padding-top: 4rem;       
    }
    
    .sesiones-planes-capa p {
        font-size: .8rem;
    }

    .sesiones-tarjeta-texto_izq {
        width: 80%;
        padding: .5rem;
        font-size: .8rem;
        margin-bottom: .7rem;
    }
    
    .sesiones-tarjeta-texto_der {
        width: 75%;
        margin: .75rem 0;
        font-size: .9rem;
    }

}